body {
  background-image: linear-gradient(315deg, #000000 10%, #414141 74%);
}



.welcome {
  color: #cca000;
  text-align: center;
  margin-left: 50px;

}

.search {
  color: #cca000;
  
  text-align: right;
}

.container {
  color:white;
  padding-right: 200px;
}

.post-container {
  color:white;
  padding-right: 200px;
}

.card-title{
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-shadow: -1px -1px 0 #cca000, 1px -1px 0 #cca000, -1px 1px 0 #cca000, 1px 1px 0 #cca000;
  font-size: 2vmin;
  font-weight: 450;
}

.card-body{
  color: white;
  text-align: center;
}

.button{
    color: black;
}

.logout {
  float: right;
}

.txt {
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-shadow: -1px -1px 0 #cca000, 1px -1px 0 #cca000, -1px 1px 0 #cca000, 1px 1px 0 #cca000;
  font-size: 10vmin;
  font-weight: 700;
  margin-left: 5%;
  animation: netflix_style 3.5s;

}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {    
    color:#f3f3f3;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;    
    color: #cca000;
    transform: scale(0.85, 0.9);
  }
  
  100% {
      color: #cca000;
  }
}

.carousel {
    
    border: solid;
    border-color: darkgoldenrod;
}
.btn {
    background-color: #cca000;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.dropbtn {
  background-color: #cca000;
  color: black;
}

.placename {
  color: white;
}

#logout{
  float: right;
  margin-right: 5%;
}

#my-pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  max-height: 750px;
 }

 .member-name {
   text-align: center;
   font-family: 'Permanent Marker', cursive;
  color: black;
  text-shadow: -1px -1px 0 #cca000, 1px -1px 0 #cca000, -1px 1px 0 #cca000, 1px 1px 0 #cca000;
  font-size: 2.5vmin;
  font-weight: 700;

 }