body {
  background-image: linear-gradient(315deg, #000000 10%, #414141 74%);
}

.container{
  float: left;
}

.main {
  text-align: left;
  
}

.welcome {
  color: #cca000;
  text-align: center;
  margin-left: 50px;

}

.search {
  color: #cca000; 
  
}

.container {
  text-align: center;
  color:white;
  
}

.card-title{
    color: white;
}


.button{
    color: black;
}

.logout {
  float: right;
}

#myDropdown {
   margin-left: 125px;
}


.txt {
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-shadow: -1px -1px 0 #cca000, 1px -1px 0 #cca000, -1px 1px 0 #cca000, 1px 1px 0 #cca000;
  font-size: 10vmin;
  font-weight: 700;
  animation: netflix_style 3.5s;

}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {    
    color:#f3f3f3;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;    
    color: #cca000;
    transform: scale(0.85, 0.9);
  }
  
  100% {
      color: #cca000;
  }
}

.carousel {
    width: 350px;
    margin-left: 285px;
    border: solid;
    border-color: darkgoldenrod;
    
}

.btn {
    background-color: #cca000;
    color: black;
}

.dropbtn {
  background-color: #cca000;
  color: black;
}

.placename {
  color: white;
}